<%- include ('.././header.ejs') %>


<style>
    #dataTable {
 border-collapse: collapse;
 width: 100%;
}
#empoloyees-tblwrapper th, #dataTable td {
 border: 1px solid #ddd;
 padding: 8px;
}
#empoloyees-tblwrapper th {
 background-color: #f2f2f2;
}
#searchInput {
 margin-bottom: 10px;
 padding: 8px;
}
</style>

    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
        <!-- row -->

        <div class="container-fluid">

     <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body p-0" style="margin: 20px;">
                            <h4 class="heading mb-0"> Filters</h4>
                            <form action="/admin/dashboard/reports/transaction" method="get">                            <div class="row" style="margin-top: 20px;">
                                
                                <div class="col-lg-4">
                                    <label  class="form-label">Enter Name </label>
                                    <input type="text" name="username" class="form-control" placeholder="Enter Name" value="<%=value.username%>">

                                </div>
                                <div class="col-lg-4">
                                    <label  class="form-label">Enter Number </label>
                                    <input type="text" name="usernumber" class="form-control" placeholder="Enter Number" value="<%=value.usernumber%>">

                                </div>

                                <div class="col-lg-4">
                                    <label  class="form-label">Enter Unique ID </label>
                                    <input type="text" name="uniqueid" class="form-control" placeholder="Enter Unique ID" value="<%=value.uniqueid%>">

                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-lg-4">
                                    <label  class="form-label">Enter Txn. ID </label>
                                    <input type="text" name="txnid" class="form-control" placeholder="Enter TXN. ID" value="<%=value.txnid%>">

                                </div>
                                <div class="col-lg-4">
                                    <label  class="form-label">Select Date </label>
                                    <input type="date" name="from_date" class="form-control" placeholder="Select Date" value="<%=value.from_date%>">

                                </div>

                                <div class="col-lg-4">
                                    <label  class="form-label">Select To Date </label>
                                    <input type="date" name="to_date" class="form-control" placeholder="Enter Unique ID" value="<%=value.to_date%>">
                                </div>
                            </div>

                            

                            <div class="text-end" style="margin-top: 20px;">
                                <button type="button" class="btn btn-warning" id="reset">Reset</button>

                                <button type="submit" class="btn btn-primary save">Filter</button>
                            </div>
                        </form>

                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive active-projects style-1">
                                <div class="tbl-caption">
                                    <h4 class="heading mb-0"> TRANSACTION Report</h4>
                                    <div>


                                        <input type="text" class="form-control" id="searchInput" placeholder="Search">
                                    </div>
                                </div>
                                <table id="empoloyees-tblwrapper" class="table">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>User Name</th>
                                            <th>Unique ID</th>
                                            <th>User Number</th>
                                            <th>Txn ID</th>
                                            <th>Amount</th>
                                            <th>Date</th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(i=0;i<result.length;i++){ %>

                                            <tr>
                                                <td>
                                                    <%=i+1%></td>

                                                    <td><span>
                                                        <%=result[i].username.toUpperCase()%>
                                                    </span></td>

                                                    <td><span>
                                                        <%=result[i].uniqueid%>
                                                    </span></td>

                                                    <td><span>
                                                        <%=result[i].usernumber%>
                                                    </span></td>


                                                    <td><span>
                                                        <%=result[i].txnid%>
                                                    </span></td>

                                                    <td><span style="color:<%=result[i].color%>;font-weight:bold">
                                                        Rs. <%=result[i].amount.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%>
                                                    </span></td>

                                                 

                                                    
  
                                                    <td><span>
                                                        <%=result[i].created_at%>
                                                    </span></td>

                                                    
                                                   
                                              
                                            
                                             



                                             


                                            </tr>


                                            <% } %>


                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--**********************************
            Content body end
        ***********************************-->



        <%- include ('.././footer.ejs') %>



    <script>
document.getElementById("searchInput").addEventListener("keyup", function() {
 const searchText = this.value.toLowerCase();
 const table = document.getElementById("empoloyees-tblwrapper");
 const rows = table.getElementsByTagName("tr");
 // Start iterating from the second row (skipping the table header)
 for (let i = 1; i < rows.length; i++) {
   const row = rows[i];
   const cells = row.getElementsByTagName("td");
   let found = false;
   for (let cell of cells) {
     const text = cell.textContent.toLowerCase();
     if (text.includes(searchText)) {
       found = true;
       break;
     }
   }
   if (found) {
     row.style.display = "";
   } else {
     row.style.display = "none";
   }
 }
});




   

    </script>