<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="keywords" content="<%=MetaTags.keywords%>" />
<meta name="description" content="<%=MetaTags.description%>" />
<meta name="author" content="<%=MetaTags.author%>" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title><%=MetaTags.title%></title>

<!-- favicon icon -->
<link rel="shortcut icon" href="<%=MetaTags.favicon%>" />

<!-- inject css start -->

<!--== bootstrap -->
<link href="/design/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!--== animate -->
<link href="/design/css/animate.css" rel="stylesheet" type="text/css" />

<!--== fontawesome -->
<link href="/design/css/fontawesome-all.css" rel="stylesheet" type="text/css" />

<!--== themify -->
<link href="/design/css/themify-icons.css" rel="stylesheet" type="text/css" />

<!--== magnific-popup -->
<link href="/design/css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!--== owl-carousel -->
<link href="/design/css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!--== spacing -->
<link href="/design/css/spacing.css" rel="stylesheet" type="text/css" />

<!--== base -->
<link href="/design/css/base.css" rel="stylesheet" type="text/css" />

<!--== shortcodes -->
<link href="/design/css/shortcodes.css" rel="stylesheet" type="text/css" />

<!--== default-theme -->
<link href="/design/css/style.css" rel="stylesheet" type="text/css" />

<!--== responsive -->
<link href="/design/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">

<!-- preloader start -->

<div id="ht-preloader">
  <div class="loader clear-loader">
    <div class="loader-text">Loading</div>
    <div class="loader-dots"> <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<!-- preloader end -->


<!--header start-->

<header id="site-header" class="header">
  <div id="header-wrap">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="/">
              <img id="logo-img" class="img-fluid" src="/images/white1.png" alt="" style="width: 150px;height: 150px;">
              <!-- <p>Word Creation</p> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto position-relative">
                <!-- Home -->
                <li class="nav-item">
                  <a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= page === 'services' ? 'active' : '' %>" href="/services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= page === 'portfolio' ? 'active' : '' %>" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= page === 'blog' ? 'active' : '' %>" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= page === 'contact' ? 'active' : '' %>" href="/contact-us">Contact us</a>
                </li>
              </ul>
            </div>
            <div class="right-nav align-items-center d-flex justify-content-end">
              <a class="btn btn-white btn-sm" href="/user/signup">Sign Up Free</a>             
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>