<%- include ('./includes/header.ejs') %>


<nav id="ht-main-nav"> <a href="#" class="ht-nav-toggle active"><span></span></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid side-logo mb-3" src="images/logo.png" alt="">
        <p class="mb-5">Loptus - Digital Marketing Agency Responsive HTML5 Template is Most PowerFull template 2018 For Everyone, Start working with an company that provide everything you need to generate awareness.</p>
        <div class="form-info">
          <h4 class="title">Contact info</h4>
          <ul class="contact-info list-unstyled mt-4">
            <li class="mb-4"><i class="flaticon-location"></i><span>Address:</span>
              <p>423B, Road Wordwide Country, USA</p>
            </li>
            <li class="mb-4"><i class="flaticon-call"></i><span>Phone:</span><a href="tel:+912345678900">+91-234-567-8900</a>
            </li>
            <li><i class="flaticon-email"></i><span>Email</span><a href="mailto:themeht23@gmail.com"> themeht23@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="social-icons social-colored mt-5">
          <ul class="list-inline">
            <li class="mb-2 social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="mb-2 social-twitter"><a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="mb-2 social-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="mb-2 social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--header end-->


<!--page title start-->

<section class="page-title overflow-hidden text-center light-bg bg-contain animatedBackground" data-bg-img="images/pattern/05.png">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1 class="title">Book your service in Word Creation and ensure excellence</h1>
       
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="images/bg/06.png" alt=""></div>
</section>

<!--page title end-->


<style>
  .featured-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-icon img {
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}

.featured-title {
  margin-bottom: 15px;
}

.featured-desc {
  flex-grow: 1;
}

</style>

<!--body content start-->

<div class="page-content">

<!--service start-->

<section class="overflow-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-12">
        <div class="section-title">
          <h2 class="title">Witness Your academic journey from panic to pleasure With Word Creation’s academic writing services!</h2> 
        </div>
      </div>
    </div>
    <div class="row">
        <% for(i=0;i<result.length;i++){ %>
      <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
        <div class="featured-item text-center style-2 w-100">
          <div class="featured-icon">
            <img class="img-fluid" src="images/<%=result[i].image%>" alt="<%=result[i].name%>">
          </div>
          <div class="featured-title">
            <h5><%=result[i].name%></h5>
          </div>
          <div class="featured-desc">
            <p><%=result[i].description%></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>







<!--service end-->


<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-title">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
        <div class="accordion" id="accordion">
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How much does an essay writing service cost?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="accordion-body">Generally, the cost of the essay writing service is determined by the number of words. Primarily we charge INR 3 per word for an essay.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What are the best essay-writing services in India?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="accordion-body">Word Creation is the best essay-writing company in India. Apart from being cost-efficient, it gives you a 100% warranty for your academic success.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are the best essay-writing services in the UK?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="accordion-body">If you are looking for essay writing services from the UK, you can contact Word Creation. Word Creation has served students from multiple universities in the UK.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Do essay writing services really work?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse border-0 collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
              <div class="accordion-body">Yes. You can collaborate with Word Creation for your essay. Tell us the specific requirements and the process, and we will deliver the best quality essay for you.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How can I place my order?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse border-0 collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
              <div class="accordion-body">Choose the academic writing services you want. Enroll yourself. Input the details and time for delivery. Make payment and get the service for your essay.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







</div>

<!--body content end--> 


<!--footer start-->
<%- include ('./includes/footer.ejs') %>
