<%- include ('.././header.ejs') %>


<style>
    #dataTable {
 border-collapse: collapse;
 width: 100%;
}
#empoloyees-tblwrapper th, #dataTable td {
 border: 1px solid #ddd;
 padding: 8px;
}
#empoloyees-tblwrapper th {
 background-color: #f2f2f2;
}
#searchInput {
 margin-bottom: 10px;
 padding: 8px;
}
</style>

    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive active-projects style-1">
                                <div class="tbl-caption">
                                    <h4 class="heading mb-0"> TRANSACTION Details</h4>
                                    <div>


                                        <input type="text" class="form-control" id="searchInput" placeholder="Search">
                                    </div>
                                </div>
                                <table id="empoloyees-tblwrapper" class="table">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Username</th>
                                            <th>Usernumber</th>
                                            <th>User ID</th>
                                            <th>Amount</th>
                                            <th>Txn ID</th>
                                            <th>Created At</th>
                                            <th>Description</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(i=0;i<result.length;i++){ %>

                                            <tr>
                                                <td>
                                                    <%=i+1%></td>

                                                    <td><span>
                                                        <%=result[i].username.toUpperCase()%>
                                                    </span></td>


                                                    <td><span>
                                                        <%=result[i].usernumber.toUpperCase()%>
                                                    </span></td>


                                                    <td><span>
                                                        <%=result[i].uniqueid.toUpperCase()%>
                                                    </span></td>
                                                

                                                    <td><span>
                                                        Rs. <%=result[i].amount.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%>
                                                    </span></td>

                                                    <td><span>
                                                        <%=result[i].txnid%>

                                                   </span></td>

                                                    
  
                                                    <td><span>
                                                        <%=result[i].created_at%>
                                                    </span></td>


                                                    <td><span>
                                                        Payment Added into Wallet
                                                    </span></td>

                                                    
                                                   
                                              
                                            
                                             



                                             


                                            </tr>


                                            <% } %>


                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--**********************************
            Content body end
        ***********************************-->



        <%- include ('.././footer.ejs') %>



    <script>
document.getElementById("searchInput").addEventListener("keyup", function() {
 const searchText = this.value.toLowerCase();
 const table = document.getElementById("empoloyees-tblwrapper");
 const rows = table.getElementsByTagName("tr");
 // Start iterating from the second row (skipping the table header)
 for (let i = 1; i < rows.length; i++) {
   const row = rows[i];
   const cells = row.getElementsByTagName("td");
   let found = false;
   for (let cell of cells) {
     const text = cell.textContent.toLowerCase();
     if (text.includes(searchText)) {
       found = true;
       break;
     }
   }
   if (found) {
     row.style.display = "";
   } else {
     row.style.display = "none";
   }
 }
});
    </script>